@import url('https://fonts.googleapis.com/css2?family=Rubik+Wet+Paint&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 35px;
}

#virtualAssistant {
    width: 30vw;
    animation: float 4s infinite ease-in-out;
}

@keyframes float {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-15px); }
}

h1 {
    color: rgb(253, 255, 240);
    font-family: "Rubik Wet Paint", serif;
}

#name, #VA {
    color: rgb(238, 49, 62);
    font-size: 45px;
}

#Voice {
    width: 700px;
    display: none;
}

#Btn {
    width: 40%;
    background: linear-gradient(to right, rgba(11, 28, 34, 0.4), rgba(101, 121, 119, 0.4));
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 20px;
    border-radius: 20px;
    color: white;
    border: none;
    box-shadow: 0 0 20px rgb(236, 31, 31);
    cursor: pointer;
    transition: 0.3s;
}

#Btn:hover {
    letter-spacing: 2px;
    box-shadow: 0 0 30px rgb(236, 31, 31);
}
